---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente" data-i18n-key="hero.name">Danny</h1>
			<p class="hero__text" data-i18n-key="hero.text">
				Una descripción breve y llamativa sobre el tema principal del sitio
			</p>
			<p class="hero__slogan" data-i18n-key="hero.slogan">
				Доверия от вас результат от нас
			</p>
			<Boton href="#" texto="Получить консультацию" i18nKey="hero.cta"/>
		</div>
    <img
		class="hero__img"
		src="/img/jhon-doe.webp"
		alt="Danny"
		width="384"
    	height="384"
	/>
	</div>
</section>
