[data-sy-reveal="lines"],
[data-sy-reveal="words"] {
  opacity: 0;
  font-kerning: none;
  text-rendering: optimizespeed;

  &.is-in {
    opacity: 1;
  }

  .i-mask {
    display: inline-block;
    clip-path: inset(8% -10% -8%);
  }

  .i {
    display: inline-block;
    /* Отключаем will-change на слабых устройствах для производительности */
    transform: translateZ(0);
  }
  
  /* Включаем will-change только на мощных устройствах */
  @media (min-width: 1024px) and (min-resolution: 2dppx) {
    .i {
      will-change: transform;
    }
  }

  &.u-heading {
    .i-mask {
      clip-path: inset(11% -1% -11%);
    }
  }
}

[data-sy-reveal="lines"] {
  .i-mask {
    display: block;
  }
}

