---
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<div class="about__question-mark">?</div>

		<div class="about__content">
			<Title margin="1rem" contenido="О нас" i18nKey="about.title" />
			<p class="about__text" data-i18n-key="about.text">
				Мы команда профессионалов, специализирующаяся на веб-дизайне, SEO-оптимизации, онлайн-маркетинге и бизнес-автоматизации. Наша цель — помочь вашему бизнесу расти и развиваться в цифровом пространстве. Мы создаём современные решения, которые работают эффективно и приносят результаты.
			</p>
		</div>
	</div>

</section>
