---
import '../hero/hero.css';
const { href, texto, i18nKey } = Astro.props;
---

<a
	class="primary button"
	href={href}
	data-i18n-key={i18nKey}
>
	{texto}
</a>

<style>
	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.1rem 2.2rem;
		width: 100%;
		max-width: 460px;
		height: 50px;
		background: var(--primary);
		border-radius: 100px;
		font-size: var(--text-x-large);
		transition: 0.35s opacity;
		white-space: nowrap;
		color: var(--primary-90);
	}
	.button:hover {
		opacity: 0.7;
	}
	.button:active {
		opacity: 0.5;
	}

	@media screen and (min-width: 1024px) {
		.button {
			font-size: var(--text-xx-large);
			padding: 1.3rem 2.8rem;
		}
	}

	@media screen and (max-width: 480px) {
		.button {
			font-size: var(--text-large);
			padding: 1rem 1.8rem;
		}
	}
</style>
