---
import Logo from '../Logo.astro';
import { mainMenu } from '../data/menuData';
import './Footer.css';
---

<footer>
	<div class="footer__container">
		<Logo name="Danny" />
		<nav class="footer__nav">
			<ul class="footer__nav-list">
				{
					mainMenu.map((item) => (
						<li>
							<a class="footer__nav-link" href={item.link} data-i18n-key={item.key}>
								{item.content}
							</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>

	<aside class="footer__links">
		<ul>
			<li>
				<a class="footer__link" href="mailto:danatarowdanny@gmail.com">
					<span>
						<iconify-icon
							icon="mdi:email"
							width="24"
							height="24"
							style="color: #dcd8fc"></iconify-icon>
					</span>
					danatarowdanny@gmail.com
				</a>
			</li>
			<li>
				<a class="footer__link" href="tel:+99360000000">
					<span>
						<iconify-icon
							icon="mdi:phone"
							width="24"
							height="24"
							style="color: #dcd8fc"></iconify-icon>
					</span>
					+993 60 000 000
				</a>
			</li>
			<li>
				<a class="footer__link" href="tel:+99361111111">
					<span>
						<iconify-icon
							icon="mdi:phone"
							width="24"
							height="24"
							style="color: #dcd8fc"></iconify-icon>
					</span>
					+993 61 111 111
				</a>
			</li>
			<li>
				<span class="footer__link">
					<span>
						<iconify-icon
							icon="mdi:map-marker"
							width="24"
							height="24"
							style="color: #dcd8fc"></iconify-icon>
					</span>
					Туркменистан, Мары
				</span>
			</li>
		</ul>
	</aside>
</footer>
